Redirect permanent /philosophy/computers/software-management/perfect-workplace/v2/perfect-it-workplace-v2/index.html /philosophy/computers/software-management/perfect-workplace/v2/perfect-it-workplace-v2/
