Redirect permanent /philosophy/computers/high-quality-software/rev2/what-makes-software-high-quality-rev2/index.html /philosophy/computers/high-quality-software/rev2/what-makes-software-high-quality-rev2/
