Redirect permanent /philosophy/psychology/why-openly-bipolar-people-should-not-be-medicated/why-openly-bipolar-people-should-not-be-medicated/index.html /philosophy/psychology/why-openly-bipolar-people-should-not-be-medicated/why-openly-bipolar-people-should-not-be-medicated/
